@import url(https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Notable&family=Passion+One:wght@400;700&display=swap);
@charset "UTF-8";

.font-header {
  /*
  font-family: 'Archivo Black', sans-serif;
  font-family: 'Caveat', cursive;
  */
  font-family: "Montserrat", sans-serif;
}

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap);
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap);
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap);
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap);
@charset "UTF-8";

@font-face {
  font-family: "ITC";
  src: local("ITC"),
    url(../assets/fonts/itc-cheltenham/CheltenhamStdBook.otf) format("woff");
}
@font-face {
  font-family: "ITC Bold";
  src: local("ITC Bold"),
    url(../assets/fonts/itc-cheltenham/CheltenhamStdBold.otf) format("woff");
}
.handwriting {
  font-family: "ITC";
}
.itc-bold {
  font-family: "ITC Bold";
}
.monospace {
  font-family: "IBM Plex Mono", monospace;
}
.main-header {
  font-family: "Josefin Sans", sans-serif;
}
.black-background {
  background-color: black;
}

.black-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.black-width-full {
  background-color: black;
  display: flex;
  min-width: 100%;
  flex-direction: column;
  flex: start;
  color: white;
}
.body {
  background-color: black;
}
.bg {
  background-color: lightcoral;
}
.bg1 {
  background-image: url("../assets/projek_images/background.png");
  background-position: center;
  background-size: contain;
}
.blurEffect {
  filter: blur(5px);
}
